[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"azure.functions" = "*"
azure-common = "*"
azure-core = "*"
azure-storage-blob = "*"
azure-storage-file-share = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
azure-mgmt-containerinstance = "*"
azure-mgmt-core = "*"
azure-mgmt-resource = "*"
azure-storage-queue = "*"
python-decouple = "*"
python-dateutil = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
