annotated-types==0.7.0
azure-common==1.1.28
azure-core==1.30.2
azure-functions==1.20.0
azure-identity==1.17.1
azure-keyvault-secrets==4.8.0
azure-mgmt-containerinstance==10.1.0
azure-mgmt-core==1.4.0
azure-mgmt-resource==23.1.1
azure-storage-blob==12.20.0
azure-storage-file-share==12.16.0
azure-storage-queue==12.10.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
idna==3.7
isodate==0.6.1
msal==1.29.0
msal-extensions==1.2.0
portalocker==2.10.0
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.32.3
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.2
